<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        footer {
            background: #000000;
        }

        .end-footer-copyright {
            color: white;
            text-align: center;
            width: 100%;
        }
    </style>
</head>

<footer>
    <br>
    <div class="container">
        <div class="row">
            <div class="end-footer-copyright">
                <p>EasyFind - Hospital Management System/Tracker</p>
            </div>
        </div>
    </div>
</footer>

</html>
