{% extends 'hospital/mainadmin/main_admin_base.html' %}
{% block content %}
<br><br>
    <head>
        <style media="screen">
            h2 {
                text-align: center;
            }
        </style>
    </head>

    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Discharge Patient</h2>
            </div>
            <table class="table table-hover" id="dev-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Symptoms</th>
                    <th>Contact</th>
                    <th>Discharge</th>
                </tr>
                </thead>
                {% for p in patients %}
                    <tr>
                        <td> {{ p.get_name }}</td>
                        <td>{{ p.symptoms }}</td>
                        <td>{{ p.mobile }}</td>
                        <td>
                            <a class="btn btn-danger btn-xs" href="{% url 'discharge-patient' p.id %}">
                                <span class="glyphicon glyphicon-log-out">Discharge</span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock content %}
