{% extends 'hospital/mainadmin/main_admin_base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-4 market-update-gd">
        <div class="market-update-block clr-block-1">
            <div class="col-md-8 market-update-left">
                <h3>{{ doctorcount }}</h3>
                <h4>Total Doctor</h4>
            </div>
            <div class="col-md-4 market-update-right">
                <i class="fa fa-user-md"></i>
            </div>
        </div>
    </div>
    <div class="col-md-4 market-update-gd">
        <div class="market-update-block clr-block-2">
            <div class="col-md-8 market-update-left">
                <h3>{{ patientcount }}</h3>
                <h4>Total Patient</h4>
            </div>
            <div class="col-md-4 market-update-right">
                <i class="fa fa-user-o"></i>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
