{% extends 'hospital/admin/admin_base.html' %}
{% block content %}
    <br><br>
    {% load static %}
    <head>
        <style media="screen">
            h2 {
                text-align: center;
            }
        </style>
    </head>

    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Patient</h2>
            </div>
            <table class="table table-hover" id="dev-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Profile Picture</th>
                    <th>Symptoms</th>
                    <th>Contact</th>
                    <th>Address</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                </thead>
                {% for p in patients %}
                    <tr>
                        <td> {{ p.get_name }}</td>
                        <td><img src="{% static p.profile_picture.url %}" alt="Profile Pic" height="40px" width="40px"/>
                        </td>
                        <td>{{ p.symptoms }}</td>
                        <td>{{ p.mobile }}</td>
                        <td>{{ p.address }}</td>
                        <td>
                            <a class="btn btn-primary btn-s" href="{% url 'update-patient' p.id %}">
                                <span class="glyphicon glyphicon-edit">Edit</span>
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-danger btn-s" href="{% url 'delete-patient-from-hospital' p.id %}">
                                <span class="glyphicon glyphicon-trash">Delete</span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>


{% endblock content %}
